@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100vh;
}
